<div class="flex h-screen">
  <app-menu></app-menu>
  <div class="flex flex-col flex-1">
    <header class="flex w-full border-b border-gray-200 py-4 px-8">
      <div class="flex items-center justify-between w-full">
        <div>
          <form class="flex items-center">
            <input class="border border-gray-300 p-2 rounded" type="search" placeholder="Sök" />
            <button class="bg-blue-500 text-white p-2 rounded ml-2">Sök</button>
          </form>
        </div>
        <app-button content="Spara till databas" />
      </div>
    </header>
    <main class="p-8">
      <router-outlet />
    </main>
  </div>
</div>