<aside class="min-h-screen border-r border-gray-200 p-4">
  <nav>
    <ul class="space-y-2">
      @for (folder of menu; track folder.id) {
        <li>
          @if (folder.subfolders.length > 0) {
            <button (click)="openFolder(folder.id)" class="flex items-center text-sm cursor-pointer">
              <lucide-angular size="16" name="{{ isOpen(folder.id) ? 'folder-open' : 'folder-closed' }}"></lucide-angular>
              <span class="ml-2">{{ folder.title }}</span>
            </button>
          } @else {
            <a class="flex items-center text-sm cursor-default" [routerLink]="['/edit-area', folder.id]">
              <lucide-angular size="16" name="file"></lucide-angular>
              <span class="ml-2">{{ folder.title }}</span>
            </a>
          }
        </li>
    
        @if (isOpen(folder.id)) {
          <ul class="ml-4 space-y-1">
            @for (subfolder of folder.subfolders; track subfolder.id) {
              <li>
                <a class="flex items-center text-sm cursor-default" [routerLink]="['/edit-area', subfolder.id]">
                  <lucide-angular size="16" name="file" />
                  <span class="ml-2">{{ subfolder.title }}</span>
                </a>
              </li>
            }
          </ul>
        }
      }
    </ul>
  </nav>
</aside>