<div class="flex items-center space-x-2">
  <lucide-angular size="20" name="link"></lucide-angular>
  <h3 class="font-medium">Relaterade länkar</h3>
</div>
<ul class="space-y-1 mt-3">
  <li class="flex items-center space-x-2">
    <lucide-angular size="20" name="link2"></lucide-angular>
    <a class="underline" href="https://www.google.com" target="_blank">Google</a>
  </li>
  <li class="flex items-center space-x-2">
    <lucide-angular size="20" name="link2"></lucide-angular>
    <a class="underline" href="https://www.bing.com" target="_blank">Bing</a>
  </li>
  <li class="flex items-center space-x-2">
    <lucide-angular size="20" name="link2"></lucide-angular>
    <a class="underline" href="https://www.yahoo.com" target="_blank">Yahoo</a>
  </li>
</ul>